---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Employees API"
  contact:
    name: "Apigee"
    email: "support@apigee.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "cosafinity-prod.apigee.net"
basePath: "/v1/employees"
schemes:
- "http"
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /:
    get:
      summary: "Get all Employees"
      description: "This endpoint returns a list of all Employees as an array."
      operationId: "rootGET"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/EmployeesArray"
      x-swagger-router-controller: "Default"
    post:
      summary: "Create a new Employee"
      description: "This endpoint will create a new Employee."
      operationId: "rootPOST"
      parameters:
      - in: "body"
        name: "body"
        description: "an Employee oject"
        required: true
        schema:
          $ref: "#/definitions/Employee"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Employee"
      x-swagger-router-controller: "Default"
  /{employee}:
    get:
      summary: "Get an Employee with given UUID."
      description: "This endpoint returns a Employee from a given UUID."
      operationId: "employee_uuidGET"
      parameters:
      - name: "employee"
        in: "path"
        description: "UUID of a Employee"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Employee"
      x-swagger-router-controller: "Default"
    put:
      summary: "Update an Employee with given UUID"
      description: "This endpoint will update an existing Employee."
      operationId: "employee_uuidPUT"
      parameters:
      - name: "employee"
        in: "path"
        description: "UUID of a Employee"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "an Employee oject"
        required: true
        schema:
          $ref: "#/definitions/Employee"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Employee"
      x-swagger-router-controller: "Default"
    delete:
      summary: "Delete an Employee with given UUID"
      description: "This endpoint will delete an existing Employee."
      operationId: "employee_uuidDELETE"
      parameters:
      - name: "employee"
        in: "path"
        description: "UUID of a Employee"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Employee"
      x-swagger-router-controller: "Default"
definitions:
  ErrorResponse:
    required:
    - "message"
    properties:
      message:
        type: "string"
  EmployeesArray:
    type: "array"
    items:
      $ref: "#/definitions/EmployeesArray_inner"
  Employee:
    type: "object"
    properties:
      uuid:
        type: "string"
      type:
        type: "string"
      name:
        type: "string"
      created:
        type: "integer"
      modified:
        type: "integer"
      birthDate:
        type: "string"
      city:
        type: "string"
      department:
        type: "string"
      email:
        type: "string"
      gender:
        type: "string"
      isActive:
        type: "boolean"
      metadata:
        $ref: "#/definitions/EmployeesArray_inner_metadata"
      phone:
        type: "string"
      postal:
        type: "integer"
      state:
        type: "string"
      street:
        type: "string"
  EmployeesArray_inner_metadata:
    properties:
      path:
        type: "string"
      size:
        type: "integer"
  EmployeesArray_inner:
    properties:
      uuid:
        type: "string"
      type:
        type: "string"
      name:
        type: "string"
      created:
        type: "integer"
      modified:
        type: "integer"
      birthDate:
        type: "string"
      city:
        type: "string"
      department:
        type: "string"
      email:
        type: "string"
      gender:
        type: "string"
      isActive:
        type: "boolean"
      metadata:
        $ref: "#/definitions/EmployeesArray_inner_metadata"
      phone:
        type: "string"
      postal:
        type: "integer"
      state:
        type: "string"
      street:
        type: "string"
